* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: url("images/bg-pattern-top-desktop.svg") top left no-repeat,
    url("images/bg-pattern-bottom-desktop.svg") bottom right no-repeat;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.container,
.upper-portion,
.lower-portion,
.heading,
.rating {
  display: flex;
}
.container {
  margin: 5% 10%;
  padding: 3%;
  flex-direction: column;
}
.upper-portion {
  flex-direction: row;
  flex: 100%;
}
.heading {
  flex: 45%;
  flex-direction: column;
}
.rating {
  flex: 55%;
  flex-direction: column;
}
.heading {
  padding: 0% 6% 3% 0%;
}
.heading > p {
  color: hsl(303, 10%, 53%);
}
h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 0% 2% 2% 0%;
  color: hsl(300, 43%, 22%);
}
p {
  line-height: 1.5;
}
.rating {
  padding: 2%;
}
.rating1,
.rating2,
.rating3 {
  padding: 2% 0%;
  margin-bottom: 3%;
  border-radius: 10px;
  color: hsl(300, 43%, 22%);
  background-color: hsl(300, 24%, 96%);
  text-align: left;
  font-weight: 700;
}
.rating1 {
  margin-right: 20%;
}
.rating2 {
  margin-left: 10%;
  margin-right: 10%;
}
.rating3 {
  margin-left: 20%;
}
span {
  padding: 0% 5%;
}
.star {
  padding-left: 2%;
}
.lower-portion {
  flex-direction: row;
  flex: 33.33%;
  padding-top: 3%;
}
.card1,
.card2,
.card3 {
  padding: 3% 2%;
  display: flex;
  flex-direction: column;
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
}
.card1 {
  margin-right: 2%;
  margin-bottom: 3%;
}
.card2 {
  margin: 1.5% 2% 1.5% 0%;
}
.card3 {
  margin-top: 3%;
}
.card-holder {
  display: flex;
  flex-direction: row;
}
.card-img {
  display: flex;
  flex-direction: column;
  flex: 20%;
}
.card-img > img {
  width: 70%;
  height: auto;
  border-radius: 50px;
}
.card-holder-name {
  display: flex;
  flex-direction: column;
  flex: 80%;
}
#name {
  font-weight: 500;
}
#status {
  color: hsl(333, 80%, 67%);
}
.card-body {
  flex-direction: row;
  flex: 100%;
  padding-top: 8%;
  line-height: 1.5;
}
.attribution {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
